<!doctype html>
<html lang="en">

<head>
    <title>Lunch Checker</title>
    <script src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
        .message {
            font-size: 1.3em;
            font-weight: bold;
        }
    </style>
</head>

<body ng-app="cricApp">
    <div class="container" ng-controller="CricController as ctrl">
        <h1>Welcome to Lion Team</h1>
        <form ng-submit="ctrl.addInformation()()">
            <div class="form-group">
                Your Name :: <input id="" type="text" ng-model="ctrl.playerName" ng-blur="" placeholder="Please add your name here" class="form-control">
            </div>
            <div class="form-group">
                Availabilty:: <select ng-model="ctrl.playerAvailablity" ng-options="person for person in ctrl.options" placeholder="Please add your name here" class="form-control"></select>

            </div>
            
            <input type="submit">

        </form>
        Total available : {{ctrl.playerList.length}}</br>
         <class="form-group" ng-repeat="player in ctrl.playerList">
                Status :: {{player.name}} is Availabilty :: {{player.availabilty}}
            </br>

    </div>
    <div class="form-group"></div>

</body>

</html>